#navbar {
   position:fixed;
   left:-50px;
   top:-50px;
   width:120%;
   height:120px;
   background:url('https://lh3.googleusercontent.com/I6X_mR6XFN9pdsDZXAwqBjWxWI42WUlj1U3lG8o6W1zY2PBqstEaCZV7dzahdiP_C_DEFZliBrDgZcV-Cyzc3ew-Ugv7lspPPtJhjWw7DmgasmIme2ahJiutKdDP09drx7VDciCQyBIG7zdiEphQPrBunUZ2eadNRfRxox1i4H_fwzwTU--JAZHkxQ_Xt4UUdmApOK1fj1k2p9CZn3oIBUDZ10slmKxAfCTUmFoRs8icux0_lQMEPzYQAoQNdUfz72eGQXJAnYmO6wTLhnAMp5KU6xKMdx75f-iKRj2eOgjAj_VymGfV7mQUUTftshid6WZlZOZJYNNVH5VQoq24s21TTbWiXF4zaAyYN5zu-wCUSGwnU40EKtdtxkFYw1_8JuhWwAdvwQ-jcCtRt9rQiagccDEJcI6915jKZgJnYB_ZU6hBe_9SUf8OhZoQ7wpvF0M1ljCR36YEbvSWEoEI_dCW4KVyR2pM3hxOFOJglSuPx9tCQ997BfZBEwArTyRfKpZfMwT5egKsTRWMH_elwjOI4lydleXKcBPH8_4Ys-Al=w74-h73-no');
   background-repeat:repeat;
   box-shadow:0px 5px 3px #888888;
   border-bottom:2px solid rgb(235, 122, 44);
   box-sizing:border-box;
   padding-left:80px;
   padding-top:60px;
   z-index:2;
}
body {
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
  width:95%;
  height:90vh;
}
#searchbox {
  margin-left:auto;
  margin-right:auto;
  vertical-align:50vh;
  border:1px solid;
  width:33%;
  height:8%;
  box-sizing:border-box;
  padding:10px;
  font-family:Quicksand;
  font-size:5vmin;
}
#book-menu {
   position:fixed;
   top:0px;
   right:-255px;
   width:250px;
   height:100vh;
   background:rgba(0, 0, 0, 0.8);
   -webkit-backface-visibility: hidden;
   z-index:1;
   overflow-y:scroll;
   box-sizing:border-box;
   padding-top:20px;
}
#book-menu:hover {
   cursor:pointer;
}
#tab-pull:hover {
  cursor:pointer;
}
.book-container {
   display:block;
   position:relative;
   width:70%;
   height:170px;
   margin:50px 0 30px 40px;
   padding-top:25px;
   box-sizing:border-box;
}
.book-description {
  color:white;
  width:130px;
  margin-left:auto;
  margin-right:auto;
}
.selected-book {
  outline:5px solid yellow;
}
#page-display {
  margin:0 auto;
  box-sizing:border-box;
  padding-top:5px;
  position:fixed;
  bottom:15px;
  right:-100%;
  height:170px;
  width:100%;
  overflow-y:scroll;
}
.display-page {
  float:left;
  margin-left:25px;
  margin-right:25px;
  height:160px;
  width:130px;
}
